
<div dw-loading="challenges" dw-loading-options="{text: loadingMessage}">

<div  ng-if="errorMessage" class="ui red floating  message">
<div class="header">
{{errorMessage}}
</div>
</div>


<div class="ui stackable grid">
		<div class="sixteen wide column"> 
				<h3 style="font-family: Georgia;font-weight: 100;font-size: initial;"> {{challenge.description }}</h3>
		 </div> 

<div class="sixteen wide column">
	<i class="tags icon" style="margin-right:0px;"></i><b>Tags:</b> {{challenge.tag}}
			</div>
			
			<div class="sixteen wide column" ng-show="{{challenge.file.length>0}}"  style="cursor: pointer;">
	<b>Attachment:</b>
					<a href="challenge/download/{{challenge.file}}">{{challenge.file}}.</a>
			</div>
</div>

</div>

