<div class="ui stackable grid">
		<div class="sixteen wide column" > 
				<button class="ui tiny primary button" ng-click="showComments()" style="padding-right: 0px;padding-left: 11px;" >
					 	<i class="comments outline icon"></i> Comments ({{challenge.comments.length}})<i ng-show="!viewComments" class=" large angle down icon"></i><i ng-show="viewComments"class=" large angle up icon"></i>
				</button>
				<a href="#" ng-hide="userLikedChallenge || currentTab==='subcribedChallenges'" ng-click="likeChallenge(challengeObj);"><i class="thumbs up blue icon"></i> Like</a>
			<a href="#"   ng-hide="!userLikedChallenge || currentTab==='subcribedChallenges'"  ng-click="unLikeChallenge(challengeObj);"><i class="thumbs down blue icon"></i> Unlike</a>
		 </div> 
		 <div class="sixteen wide column" ng-show="viewComments" style="padding-top: 0px;"> 
		    
			<div class="ui threaded comments" style="max-width:100%">
 				<!--  <h3  class="ui dividing header">Comments</h3> -->
 				 <hr ng-show="challenge.comments.length>0">
				  <div class="comment" ng-repeat="comment in challenge.comments">
				    <div class="content">
				      <a class="author">{{comment.userName}}</a>
				      <div class="metadata">
				        <span class="date">{{comment.commentedDate | dateFormat}}</span>
				      </div>
				      
				      <div class="text" ng-show = "!isEdit">
				        {{comment.comment}}
				      </div>
				      <span button id="updateComment" ng-click="editComment()" class="ui tiny primary button" ng-show="!isEdit"><i class="icon edit" style="margin-right: 0px;" ></i> Edit Comment</span> 
				      
				       <div class="field" ng-show="isEdit">
				    <textarea id="updatecommentTextArea{{challengeObj.index}}" rows="2" placeholder="comment on challenge..."  ng-change="showCommentButton(challengeObj)" ng-model="challengeComment"></textarea>
				     <button id="updatecommentButton{{challengeObj.index}}" disabled class="ui tiny primary button"   ng-click="updateChallengeComment(challengeObj,comment._id);">
					  <i class="icon edit" style="margin-right: 0px;" ></i> Update Comment
				</button>
				  	</div>
				      
				    </div>
				  </div>
                 <div class="ui form " ng-show="!isEdit">
				  <div class="field">
				    <textarea id="commentTextArea{{challengeObj.index}}" rows="2" placeholder="comment on challenge..."  ng-change="showCommentButton(challengeObj)" ng-model="challengeComment"></textarea>
				  </div>
				 <!-- <div class="ui blue labeled submit icon button" ng-show="challengeComment" ng-click="addChallengeComment(challengeObj);">
                 <i class="icon edit" ></i> Add Comment
                </div> -->
           
                 <button id="commentButton{{challengeObj.index}}" disabled class="ui tiny primary button"   ng-click="addChallengeComment(challengeObj);">
					  <i class="icon edit" style="margin-right: 0px;" ></i> Add Comment
				</button>
				</div>

            </div>
		 </div>
		 
		 
</div>