
<div dw-loading="challenges" dw-loading-options="{text: loadingMessage}">

<div  ng-if="errorMessage" class="ui red floating  message">
<div class="header">
{{errorMessage}}
</div>
</div>


<div class="ui stackable grid">
		<div class="sixteen wide column"> 
				<h1> {{challenge.description }}</h1>
		 </div> 
		 
<!-- 		<div class="sixteen wide column">
		  <a class="ui teal tag label">{{challenge.categories.name | camelCase}} </a>
		  <strong>{{challengeObj.createdBy}} </strong>  created this challenge on {{challenge.created_at | dateFormat}}.
		</div> -->
		<div class="sixteen wide column" ng-show="challenge.prize">
				 <strong>Prize:</strong>  {{challenge.prize}}
		</div>
		
</div>

</div>
