
<div dw-loading="challenge" dw-loading-options="{text: loadingMessage}">


<div class="ui grid" >
<div ng-show="currentTab==='allChallenges'" class="sixteen wide column" style="text-align: center;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 48px;">Show List related to...</div>
	<div class="six wide column" style="padding-bottom: 0px;padding-left: 0px;padding-top: 0px;">
				<select id="itemsPerPage" name="itemsPerPage" class="ui dropdown" ng-model="itemsPerPage" style="border-radius: 5px;">
			  <option  value="5">5</option>
			  <option value="10">10</option>
			  <option value="25">25</option>
			  <option value="50">50</option>
			</select> Challenges Per Page &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
			
		 <label for="allPosts"><b>Posts :</b> </label>
			<select id="allPosts" ng-show="currentTab==='allChallenges'" class="ui dropdown" ng-model="list" ng-change="getListOfSelected()" style="border-radius: 5px;">
			 <option value="All" selected>All</option>
			 <option value="Challenges">Challenges</option>
			  <option value="Learning">Learning</option>
			</select>
			
			<select id="allPosts" ng-show="currentTab==='myChallenges'" class="ui dropdown" ng-model="list" ng-change="getListOfSelectedForMyPosts()" style="border-radius: 5px;">
			 <option value="All" selected>All</option>
			 <option value="Challenges">Challenges</option>
			  <option value="Learning">Learning</option>
			</select>
	</div>
	<div class="five wide column" style="position: relative;top: 7px;padding-top: 0px;">
	 <div ng-show="currentTab==='allChallenges'">
	 <label for="All" ng-class="{boldText:!allChallenges}">Subcribed Categories</label>
				<div class="ui toggle checkbox">
					  <input id="All" type="checkbox" ng-model="allChallenges"  ng-change="fetchAll()" />
					  <label for="All" ng-class="{boldText:allChallenges}">All Categories</label>
					</div>
					</div>
		</div>
	<div class="five wide column" style="text-align: end;padding-bottom: 0px;padding-right: 0px;padding-top: 0px;">
		
			<div class="ui  icon input">
			  <input type="text" ng-model="search" placeholder="Search ...">
			  <i class="inverted circular teal search link icon"></i>
			</div>
	</div>
	
	<div  ng-if="errorMessage" class="ui red floating  message">
<div class="header">
{{errorMessage}}
</div>
</div>
	

	<div class="sixteen wide column" style="padding-bottom: 7px;padding-top: 6px;padding-left: 0px;padding-right: 0px;">

{{imageDisplay}}
<div class="ui fluid five item secondary pointing menu">
 <a  ng-click="sort('title')"  class="item title"  ng-class="{titleSelected:currentTab==='profile'}" >
     Title<i ng-class="{'sort alphabet ascending icon':reverse,'sort alphabet descending icon':!reverse}"></i>
  </a>
  <a  ng-click="sort('createdBy')" class="item createdBy"  ng-click="setCurrentTab('categories');" ng-class="{createdBySelected:currentTab==='categories'}">
    Posted By<i ng-class="{'sort alphabet ascending icon':reverse,'sort alphabet descending icon':!reverse}"></i>
  </a>
   <a  ng-click="sort('date')" class="item date"   ng-class="{datesSelected:currentTab==='allChallenges'}">
     Cut-off Date<i ng-class="{'sort numeric ascending icon':reverse,'sort numeric descending icon':!reverse}"></i>
  </a>
  <a ng-show="currentTab==='myChallenges'" ng-click="sort('status')" class="item status"  ng-class="{statusSelected:currentTab==='createChallenge'}">
     Status<i ng-class="{'sort alphabet ascending icon':reverse,'sort alphabet descending icon':!reverse}"></i>
  </a>
  
   <a  ng-click="sort('created_at')" class="item created_at"  ng-class="{created_atSelected:currentTab==='myChallenges'}">
   Posted Date<i ng-class="{'sort numeric ascending icon':reverse,'sort numeric descending icon':!reverse}"></i>
  </a>
</div>

</div>
</div>

<div ng-show="challenges.length>0" class="ui grid"  ng-controller="viewChallengeController" style="font-family: Georgia;" dir-paginate="challengeObj in challenges|orderBy:sortKey:reverse|filter:search|itemsPerPage:itemsPerPage" >

<div class="sixteen wide column challengeBgColor" style="border-bottom: 4px solid white;" >

<div class="ui grid" >

<div class="sixteen wide column">

<div class="ui grid" ng-click="getChallenge(challengeObj);">  <img ng-hide="currentTab==='myChallenges'" class="ui tiny image" ng-src="{{challengeObj.profileImageOfChallengeOwner}}" style="position: absolute;width: 7%;height:100%;padding-left: 0px;padding-right: 0px;">
<div class="eleven wide column" ng-style="{'padding-left': paddingLeft}" style="padding-bottom: 0px;padding-top: 5px;cursor: pointer;">
<h3 style="font-family: Georgia;">{{challengeObj.title | camelCase}}</h3>
</div>
<div class="five wide column" ng-show="(currentTab==='myChallenges')"  style="cursor: default !important;text-align: right;padding-top: 5px;padding-bottom: 0px;cursor: pointer">
<div class="ui teal tag label" style="padding-left: 11px;padding-right: 9px;">{{challengeObj.categories.name | camelCase}} </div>

		
		<div ng-show="challengeObj.challengeStatus==='Closed' && !challengeObj.learning && challengeObj.status!=='draft'" class="ui small red label">
		  	<i class="ban icon" style="margin-right: 0px;"></i> {{challengeObj.challengeStatus}}
		 </div>
		
		<div ng-show="challengeObj.challengeStatus==='Open' && !challengeObj.learning && challengeObj.status!=='draft'" class="ui small green label">
		  	<i class="checkmark icon" style="margin-right: 0px;"></i> {{challengeObj.challengeStatus}}
		 </div>
		
	 <div ng-if="challengeObj.learning" class="ui teal tag label" style="padding-left: 11px;padding-right: 9px;"> {{challengeObj.challengeLearningStatus}} </div>
		 
<!-- 		 <div ng-if="challengeObj.status==='create'" class="ui small green label">
		    Created
		 </div> -->
		 
		 <div ng-if="challengeObj.status==='draft'" class="ui small blue label">
		   <i class="save icon" style="margin-right: 0px;"></i> Draft
		 </div>
		 
		
</div>
<div class="five wide column" ng-show="((currentTab==='allChallenges') || (currentTab==='subcribedChallenges'))"  style="cursor: default !important;text-align: right;padding-top: 5px;padding-bottom: 0px;cursor: pointer">
  <div class="ui teal tag label" style="padding-left: 11px;padding-right: 9px;">{{challengeObj.categories.name | camelCase}} </div>

		<button type="submit" class="ui medium green label" ng-click="subcribeChallenge(challengeObj);"  type="button" ng-hide="challengeObj.isSubcribed || (currentTab==='subcribedChallenges') || (challengeObj.challengeStatus==='Closed') || challengeObj.learning || challengeObj.createdBy===userDetails.name">
			  	<i class="thumbs up icon"></i> Accept
		</button>
		
		 <div ng-if="challengeObj.learning" class="ui teal tag label" style="padding-left: 11px;padding-right: 9px;">{{challengeObj.challengeLearningStatus}} </div>
		
		<span ng-if="!challengeObj.learning" >
		
		<div ng-show="challengeObj.challengeStatus==='Closed'" class="ui small red label">
		<i class="ban icon" style="margin-right: 0px;"></i> {{challengeObj.challengeStatus}}
		 </div>
		 
		 <div ng-show="challengeObj.challengeStatus==='Open'" class="ui small green label">
		<i class="checkmark icon" style="margin-right: 0px;"></i> {{challengeObj.challengeStatus}}
		 </div>
		 
		  <div ng-show="challengeObj.solutionStatus==='draft'" class="ui small blue label">
		<i class="save icon" style="margin-right: 0px;"></i> Draft
		 </div>
		 
		 
		 
		</span>
</div>

<div class="sixteen wide column" ng-style="{'padding-left': paddingLeft}" style="padding-top: 0px;padding-bottom: 0px;font-family: Georgia;cursor: pointer;">
	<span ng-bind="!challengeObj.anonymous?challengeObj.createdBy:'Anonymous'"> </span> <strong><i class="calendar green icon"></i></strong>{{challengeObj.created_at | dateFormat}}   <label ng-hide="challengeObj.learning"><strong>|</strong> solutions accepted untill <strong><i class="calendar red icon"></i></strong>{{challengeObj.date | dateFormat}}</label>
				<span  ng-show="challengeObj.prize"><strong>| <i class=" large gift icon" style="line-height: inherit;"> </i></strong>Win :   {{challengeObj.prize}} </span>
				<span ng-show="(currentTab==='myChallenges')" ng-hide="challengeObj.learning || challengeObj.status==='draft' || currentTab==='subcribedChallenges' ||(challengeObj.challengeStatus==='Open' && currentTab!=='myChallenges')"><strong >| </strong>({{challengeObj.solutionsCount}}) solutions</span> 
		
			<span style="float:right;" ng-init="showLikesCountForChallenge(challengeObj.likes);">{{challengeObj.likes.length}}<i class="thumbs up icon"></i></span>	
				
</div>

</div>
</div>
<div class="sixteen wide column headerBackGround" ng-show="challengeObj.collapse" style="border-left: 2px solid teal;border-right: 2px solid teal;border-bottom: 2px solid teal;">

<div  ng-include="challengeTemplate" style="font-family: Georgia;"></div>
<div  ng-include="challengeCommentsTemplate" style="font-family: Georgia;"></div>
<div style="font-family: Georgia;"  ng-show="((currentTab!=='allChallenges') || (currentTab!=='subcribedChallenges' && (challengeObj.challengeStatus==='Closed')))"  ng-include="solutionTemplateForView" ></div>
<div style="font-family: Georgia;" ng-show="currentTab==='subcribedChallenges'" ng-include="solutionTemplate" ></div>

</div>

</div>

</div>

</div>
<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" style="position: relative;left: -14px;"></dir-pagination-controls>

</div>