
<div dw-loading="challenge" dw-loading-options="{text: loadingMessage}">
<div  ng-if="errorMessage" class="ui red floating  message">
<div class="header">
{{errorMessage}}
</div>
</div>

<div class="ui grid" ng-show="challenges.length>0">
	<div class="four wide column">
			<div class="ui icon input">
			  <input type="text" ng-model="search" placeholder="Search ...">
			  <i class="inverted circular teal search link icon"></i>
			</div>
	</div>
	<div class="eight wide column"> </div>
	<div class="four wide column">
			Categories Per Page:<select id="itemsPerPage" name="itemsPerPage" class="ui dropdown" ng-model="itemsPerPage">
			  <option  value="5">5</option>
			  <option value="10">10</option>
			  <option value="25">25</option>
			  <option value="50">50</option>
			</select>
	</div>
	<diV class="two wide column">Sort By:</div>
	<div class="fourteen wide column" style="background-color: white;padding: 0px;">


<div class="ui fluid five item secondary pointing menu">
 <a  ng-click="sort('title')"  class="item title"  ng-class="{titleSelected:currentTab==='profile'}" >
     Title<i ng-class="{'sort alphabet ascending icon':reverse,'sort alphabet descending icon':!reverse}"></i>
  </a>
  <a  ng-click="sort('createdBy')" class="item createdBy"  ng-click="setCurrentTab('categories');" ng-class="{createdBySelected:currentTab==='categories'}">
    Posted By<i ng-class="{'sort alphabet ascending icon':reverse,'sort alphabet descending icon':!reverse}"></i>
  </a>
  <a ng-show="currentTab==='myChallenges'" ng-click="sort('status')" class="item status"  ng-class="{statusSelected:currentTab==='createChallenge'}">
     Status<i ng-class="{'sort alphabet ascending icon':reverse,'sort alphabet descending icon':!reverse}"></i>
  </a>
   <a  ng-click="sort('date')" class="item date"   ng-class="{datesSelected:currentTab==='allChallenges'}">
     Cut-off Date<i ng-class="{'sort numeric ascending icon':reverse,'sort numeric descending icon':!reverse}"></i>
  </a>
   <a  ng-click="sort('created_at')" class="item created_at"  ng-class="{created_atSelected:currentTab==='myChallenges'}">
   Posted Date<i ng-class="{'sort numeric ascending icon':reverse,'sort numeric descending icon':!reverse}"></i>
  </a>
</div>

</div>
</div>

<div class="ui grid"  ng-controller="viewChallengeController" dir-paginate="challengeObj in challenges|orderBy:sortKey:reverse|filter:search|itemsPerPage:itemsPerPage" >

<div class="sixteen wide column" style="background-color: teal;color:white;border-bottom: 2px solid white;" >

<div class="ui grid" >

<div class="sixteen wide column">

<div class="ui grid" ng-click="getChallenge(challengeObj);">
<div class="twelve wide column" style="padding-bottom: 0px;padding-top: 5px;">
<h3>{{challengeObj.title | camelCase}}</h3>
</div>
<div class="four wide column" ng-show="(currentTab==='myChallenges')"  style="padding-top: 5px;padding-bottom: 0px;">
<a class="ui teal tag label">{{challengeObj.categories.name | camelCase}} </a>
<button ng-if="challengeObj.status==='create'"  type="submit" class="ui mini positive button" >
			  	 Created
		</button>
		<button ng-if="challengeObj.status==='draft'"  type="submit" class="ui mini primary button" >
			  	 Draft
		</button>
		 <button ng-if="challengeObj.learning"  type="submit" class="ui mini yellow button" >
			  	 Learning
		</button>
		
</div>
<div class="four wide column" ng-show="((currentTab==='allChallenges') || (currentTab==='subcribedChallenges'))"  style="padding-top: 5px;padding-bottom: 0px;">
  <a class="ui teal tag label">{{challengeObj.categories.name | camelCase}} </a>

		<button type="submit" class="ui mini yellow button" ng-click="subcribeChallenge(challengeObj);"  type="button" ng-hide="challengeObj.isSubcribed || (currentTab==='subcribedChallenges') || challengeObj.closed || challengeObj.learning || challengeObj.createdByEmailId===userDetails.emailId">
			  	<i class="thumbs outline up icon"></i> Accept
		</button>
		 <button ng-if="challengeObj.learning"  type="submit" class="ui mini yellow button" >
			  	 Learning
		</button>
		<span ng-if="!challengeObj.learning" >
		<button type="submit" class="ui mini red button" ng-show="challengeObj.closed">
		  	<i class="ban icon"></i> Closed
		</button>
		
		<button type="submit" class="ui mini positive button" ng-show="!challengeObj.closed">
		  	Opened
		</button>
		</span>
</div>

<div class="sixteen wide column"  style="padding-top: 0px;padding-bottom: 5px;">
<Strong>{{challengeObj.createdBy}}</Strong> posted on <i class="calendar icon"></i>{{challengeObj.created_at | dateFormat}}, solutions can be given by <i class="calendar icon"></i>{{challengeObj.date | dateFormat}}
				<strong ng-show="challengeObj.prize"><i class=" large gift icon"></i></strong>  {{challengeObj.prize}}
</div>

</div>
</div>
<div class="sixteen wide column" ng-show="challengeObj.collapse" style="background-color: #F7F7F7;border-left: 2px solid teal;border-right: 2px solid teal;border-bottom: 2px solid teal;color:black">

<div  ng-include="challengeTemplate" ></div>
<div  ng-include="challengeCommentsTemplate"></div>
<div  ng-show="((currentTab!=='allChallenges') || (currentTab!=='subcribedChallenges' && challengeObj.closed))"  ng-include="solutionTemplateForView" ></div>
<div  ng-show="currentTab==='subcribedChallenges'" ng-include="solutionTemplate" ></div>

</div>

</div>

</div>

</div>

<!-- 

<table class="ui five column single line celled padded striped teal table" style="table-layout: fixed">
  <thead>
    <tr>
	    <th ng-click="sort('title')"  >Title <i ng-class="{'sort alphabet ascending icon':reverse,'sort alphabet descending icon':!reverse}"></i></th>
	    <th ng-click="sort('createdBy')">Posted By  <i ng-class="{'sort alphabet ascending icon':reverse,'sort alphabet descending icon':!reverse}"></i></th>
	    <th ng-click="sort('status')" ng-show="currentTab==='myChallenges'">status  <i ng-class="{'sort alphabet ascending icon':reverse,'sort alphabet descending icon':!reverse}"></i></th>
	    <th ng-click="sort('date')">Cut-off Time<i ng-class="{'sort alphabet ascending icon':reverse,'sort alphabet descending icon':!reverse}"></i></th>
	      <th ng-click="sort('created_at')">Posted Date  <i ng-class="{'sort alphabet ascending icon':reverse,'sort alphabet descending icon':!reverse}"></i></th>
	    <th ng-show="currentTab!=='myChallenges'">Action<i ng-class="{'sort alphabet ascending icon':reverse,'sort alphabet descending icon':!reverse}"></i></th>
    </tr>
  </thead>
  <tbody ng-controller="viewChallengeController" dir-paginate="challengeObj in challenges|orderBy:sortKey:reverse|filter:search|itemsPerPage:itemsPerPage" >
    <tr>
<td ng-bind="challengeObj.title | camelCase" ng-click="getChallenge(challengeObj);"> </td>
<td ng-bind="challengeObj.createdBy" ng-click="getChallenge(challengeObj);"> </td>
<td ng-show="currentTab==='myChallenges'" ng-bind="challengeObj.status"  ng-click="getChallenge(challengeObj);"> </td>

<td ng-bind="challengeObj.date | dateFormat" ng-click="getChallenge(challengeObj);"> </td>
<td ng-bind="challengeObj.created_at | dateFormat" ng-click="getChallenge(challengeObj);" ></td>
<td ng-show="((currentTab==='allChallenges') || (currentTab==='subcribedChallenges'))">
		<button type="submit" class="ui small yellow button" ng-click="subcribeChallenge(challengeObj);" ng-show="!challengeObj.closed " type="button" ng-hide="challengeObj.isSubcribed || (currentTab==='subcribedChallenges') ">
			  	<i class="thumbs outline up icon"></i> Accept
		</button>
		
		<button type="submit" class="ui small red button" ng-show="challengeObj.closed">
		  	<i class="ban icon"></i> Closed
		</button>
		
		<button type="submit" class="ui small positive button" ng-show="!challengeObj.closed">
		  	Opened
		</button>
  </td>
</tr>
<tr>
<td ng-show="challengeObj.collapse" colspan="{{colspan}}" >
<div  ng-include="challengeTemplate" ></div>
<div  ng-show="currentTab==='subcribedChallenges'" ng-include="solutionTemplate" ></div>
<div  ng-show="((currentTab!=='allChallenges') || (currentTab!=='subcribedChallenges' && challengeObj.closed))" ng-repeat="solutionObj in challenge.solutions" ng-include="solutionTemplateForView" ></div>
</td>
</tr>

  </tbody>
</table> -->
<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" ></dir-pagination-controls>
</div>