
<div dw-loading="contactUs" dw-loading-options="{text: loadingMessage}">
<h2>Feel free to contact us.</h2>
<div  ng-if="errorMessage" class="ui red floating  message">
<div class="header">
{{errorMessage}}
</div>
</div>
<div  ng-if="successMessage" class="ui green floating  message">
<div class="header">
{{successMessage}}
</div>
</div>
<div class="ui grid">

<div class="eight wide column" style="padding-left: 28px;">
				<div class="ui form ">
				  <div class="field">
				    <label>Name:</label>
				    <input type="text" ng-disabled="true" ng-model="userDetails.name">
				  </div>
				</div>
				<br>
				<div class="ui form ">
				  <div class="field">
				    <label>Email:</label>
				    <div class="ui labeled input focus">
					  <div class="ui teal label">
					 <i class="mail icon"></i>
					  </div>
					  <input type="text" ng-disabled="true" ng-model="userDetails.emailId">
					</div>
				  </div>
				</div>
				<br>
				<div class="ui form">
				  <div class="field">
				    <label>Subject:</label>
				    <input type="text" placeholder="subject..." ng-model="contactUs.subject">
				  </div>
				</div>
</div>
<div class="eight wide column" style="padding-right: 28px;">
 				<div class="ui form ">
				  <div class="field">
				    <label>Description:</label>
				    <textarea rows="10" placeholder="description..." ng-model="contactUs.query"></textarea>
				  </div>
				</div>
</div>
<div class="sixteen wide center aligned column">
					<button class="ui positive button" ng-click="sendQuery();" ng-disabled="contactUs.subject.length===0 || contactUs.query.length===0" >
					  	<i class="checkmark icon"></i> Send.
						</button>
						</div>
</div>
</div>