<header>Create Challenge</header>
{{errorMessage}}
categories:
<span ng-repeat="category in categories" ><input  id="{{category.name}}" type="checkbox" value="{{category}}"  ng-checked="checkCategory(category._id);"  ng-click="toggleSelection(category)"/><label for="{{category.name}}">{{category.name}} </label></span>
title
<input type="text" ng-model="challenge.title" />
description
<input type="text" ng-model="challenge.description" />
cut off date
<input type="date" ng-model="challenge.date" />
prize
<input type="text" ng-model="challenge.prize" />

<input type="button" value="save" ng-disabled="((challenge.title.length===0) || (challenge.description.length===0) || (challenge.date.length===0))" ng-click="challenge.status='draft';createChallenge()"/> <input type="button" value="submit" ng-disabled="((challenge.title.length===0) || (challenge.description.length===0) || (challenge.date.length===0))" ng-click="challenge.status='create';createChallenge()"/>