
<div dw-loading="createChallenge" dw-loading-options="{text: loadingMessage}">
<div  ng-if="errorMessage" class="ui red floating  message">
<div class="header">
{{errorMessage}}
</div>
</div>
<!-- <div  ng-if="successMessage" class="ui green floating  message">
<div class="header">
{{successMessage}}
</div>
</div> -->

<div class="ui stackable grid">
		<div class="ten wide column" style="padding-bottom: 0px;"> 
				<div class="ui fluid labeled input focus">
				  <div class="ui teal label">
				   Title*
				  </div>
				  <input type="text" ng-model="challenge.title" />
				</div>
		 </div> 
		 <div class="six wide column" id="upload" style="padding-bottom: 0px;">	
		<form id="uploadForm"
	         enctype="multipart/form-data"
	         action="/challenge/upload/-1"
	         method="post"
	         >
	     <input type="file" class="jfilestyle" data-placeholder="My place holder" name=attachment>
	      <button type="submit" class="ui tiny green button">
		  	<i class="upload icon" style="margin-right: 0px;"></i> Upload
		</button>
		
	    </form>
	    <span style="font-size: smaller;position: relative;top: -14px;color:red;"> *Please click Upload after browsing the file.</span><br>
	      {{challenge.file}}
		</div>
		 <div class="sixteen wide column" style="padding-top: 0px;">
				 <div class="ui form ">
				  <div class="field">
				    <label>Description*</label>
				    <textarea ng-model="challenge.description"></textarea>
				  </div>
				</div>
		</div>
		
      <div class="four wide column" style="position: relative;top: 7px;">
       <label for="learning" style="padding-right: 15px;" ng-class="{boldText:!challenge.learning}" >Challenge</label> 
				<div class="ui toggle checkbox">
					  <input id="learning" type="checkbox" ng-model="challenge.learning"  />
					  <label for="learning" ng-class="{boldText:challenge.learning}">Learning</label>
					</div>
		</div>
		
		<div class="four wide column" style="position: relative;top: 7px;text-align: right;">
				<div class="ui toggle checkbox">
					  <input id="Anonymous" type="checkbox" ng-model="challenge.anonymous"  />
					  <label for="Anonymous" >Anonymous</label>
					</div>
		</div>
		<div class="three wide column">
			   <div class="ui fluid labeled input focus">
				  <div class="ui teal label">
				   Prize
				  </div>
				 <input type="text" ng-model="challenge.prize" ng-disabled="challenge.learning"/> 
				</div> 	
		</div>
		
	<div class="five wide column"  style="text-align: right;">

				<div class="ui labeled input focus">
				  <div class="ui teal label">
				   Cut-off Date<span ng-show="!challenge.learning">*</span>
				  </div>
				</div>
			 	<div class="ui  icon input" style="width: 50%;">
			  <input style="border-left-width: 0px;" type="text" placeholder="Select date" uib-datepicker-popup="{{format}}" ng-model="challenge.date" is-open="popup1.opened" ng-click="open1()"  readonly datepicker ng-disabled="challenge.learning">
			  <i class="calendar green icon"></i>
			</div>
		</div>
		
		<div class="sixteen wide column">
				<div class="ui teal large label" style="width: 9.8%;margin-right: 5px;">
				  Category*
				</div>
				<span ng-if="categories.length==0">No Categories are created.</span>
				 <span ng-repeat="category in categories" >
					 <div class="ui radio checkbox">
					  <input id="{{category.name}}" type="radio" value="{{category}}" ng-model="challenge.categories" ng-click="updateMailGroups(category)"/>
					  <label for="{{category.name}}" style="padding-right: 10px;padding-bottom: 15px;padding-left: 18px;">{{category.name | camelCase}} </label>
					</div>
				</span>
		</div>
		<div class="sixteen wide column" style="padding-top: 0px;">
				<div class="ui teal large label" style="width: 10.88%;margin-right: 5px;height: 29px;">
				  Notify Groups
				</div>
				<span ng-if="categories.length==0">No Categories are created.</span>
					 <div class="ui toggle checkbox" ng-repeat="category in categories">
					  <input id="{{category._id}}" type="checkbox" value="{{category}}" ng-checked="selectedCategory==category" ng-disabled="selectedCategory==category"  ng-click="toggleSelection(category)"/>
					  <label for="{{category._id}}" style="padding-left: 50px;padding-right:12px;">{{category.name | camelCase}} </label>
					</div>
		</div>	
			<div class="five wide column" style="padding-top: 0px;">
				<div class="ui fluid labeled input focus">
				  <div class="ui teal label">
				  <i class="tags icon" style="margin-right:0px;"></i> Tags*
				  </div>
				 <input type="text" ng-model="challenge.tag" /><br>
				</div> 
			<div class = label> <span style="font-size: smaller;color:red;"> (Ex.Spring,Cache,Security ...)</span> </div> 
		</div>	
			
		<div class="sixteen wide center aligned column" >

				<div class="ui buttons">
					  <button class="ui blue button" ng-disabled="((challenge.title.length===0) || (challenge.description.length===0) || (!challenge.learning?challenge.date.length===0:false) || (challenge.categories.length===0)  || (challenge.tag.length===0) )" ng-click="challenge.status='draft';createChallenge()"><i class="save icon"  style="margin-right: 0px;"></i> Draft</button>
					  <div class="or"></div>
					  <button class="ui positive button"  ng-disabled="((challenge.title.length===0) || (challenge.description.length===0) || (!challenge.learning?challenge.date.length===0:false) || (challenge.categories.length===0)|| (challenge.tag.length===0))" ng-click="challenge.status='create';createChallenge()"><i class="checkmark icon"  style="margin-right: 0px;"></i> Create</button>
				</div>
		</div>
		
</div>
</div>