
<div dw-loading="profile" dw-loading-options="{text: loadingMessage}">
	<div class="ui grid">
		<div ng-if="errorMessage" class="sixteen wide column">
			<div class="ui red floating  message">
				<div class="header">{{errorMessage}}</div>
			</div>
		</div>
		<div class="five wide column">
			<canvas id="doughnut" class="chart-doughnut" chart-data="donutData"
				chart-labels="donutLabel" chart-legend="true"  chart-click="categoriesClick" style="cursor:pointer;"></canvas>
		</div>
		<div class="five wide column">
			<canvas id="pie" class="chart-pie" chart-data="data"
				chart-labels="labels" chart-legend="true" chart-click="OpenCloseClick" style="cursor:pointer;"></canvas>
		</div>

		<div class="five wide column ">
			<canvas id="pie" class="chart-pie" chart-data="CLData"
				chart-labels="CLLabel" chart-legend="true" chart-click="onClick" style="cursor:pointer;"></canvas>
		</div>


<div class="four wide column" >
			<ol type="1" class="ui secondary segment" style="list-style-position: inside;height:300px;">
				<u><b>Top Trending Users</b></u>
				<li ng-repeat=" user in topusers" ng-bind-html-unsafe="user">
					<em>{{ user }}</em>
				</li>
			</ol>
</div>
		<div class="nine wide column ui secondary segment"
			style="padding-bottom: 0px; border-bottom-width: 0px; padding-left: 2px; border-left-width: 0px;cursor:pointer;">
			<canvas id="bar" class="chart chart-bar" chart-data="barData.data"
				chart-labels="barData.labels" chart-series="barData.series"
				style="width: 100%; height: 200px"   chart-click="monthWiseClick"></canvas>
			<p></p>
			<label><b>Challenges/Learnings Posted In Last Six Months</b></label>
		</div>
		<div class="three wide column">
			<div class="ui secondary segment">
				Total Users : <b>{{userCount}}</b>
			</div>
			<br>
			<div class="ui secondary segment">
				Total Solutions : <b>{{solutionCount}}</b>
			</div>
		</div>

			<div class="ten wide column ui secondary segment"
				ng-show="userDetails.adminIndicator!==0">
				<canvas id="bar" class="chart chart-bar" chart-data="barBUData.data"
					chart-labels="barBUData.labels" chart-series="barBUData.series"
					style="width: 100%; height: 200px"></canvas>
				<p></p>
				<label><b>Challenges/Learnings Posted by Location</b></label>
			</div>


		</div>
	</div>