
<div class=" ui grid" >
<div class="sixteen wide column" style="padding-top: 0px;" >
<div id="solutions" style="margin-top: 12px;" >
		<div  id="solution" class="ui raised segments" ng-repeat="f in faq">  
		
		  <div class="ui secondary segment" ng-click="f.show=!f.show">
		   <div style="margin-bottom:0px;" >
		   <i ng-class="{'add circle green icon':!f.show,'minus circle red icon':f.show}"></i><strong >{{f.question}}</strong> 
			 </div> 
		  </div>
		  <div class="ui segment" ng-show="f.show">
		    <p ng-bind-html="f.answer"></p>
		  </div>
		  
		</div>

</div>

</div>
<div class="sixteen wide column" style="padding-top: 0px;text-align: center;" >
<Strong>Please email @<a href="#">techwizz-support@osius.com</a> for any feedback or solutions.</Strong>
</div>


</div>