<style>
 .column {
      max-width: 450px;
    
    }
    
    #email:hover .emailToolTip{
    visibility: visible;
    }
     #password:hover .passwordToolTip{
    visibility: visible;
    }
    
    .emailToolTip,.passwordToolTip{
    visibility: hidden;
    position:absolute;
    width: 56%;
    background-color:black;
    color:white;
    right: -58%;
    top: 3px;
    height: 91%;
    padding-top: 7px;
    border-radius: 5px;
    }
    
   .emailToolTip:before,.passwordToolTip:before{
       position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;
    border-left: 10px solid transparent;
    display: block;
    content: " ";
    right: 100%;
}
    
    
    
</style>
<div style="position: absolute;top: 2px;background-color: #f7f7f7;min-width: 100%;min-height: 7%;"> <img src="images/logo.png" style="width: 7%;margin-top: 7px;margin-left: 10px;margin-bottom: 1px;">



</div>
<div class="ui middle aligned center aligned grid loginBackGround" style="height:105%">

  <div class="column" >
   <div dw-loading="authenticate" >
    
   
    <form class="ui large form">
      <div class="ui piled segments segment" style=" background-color: #f7f7f7;">
      <h2 class="ui teal  header">
      <div class="content">
        Log into your account
      </div>
    </h2>
    <div class="field" ng-class="{error:user.invalidCredentials}">
           <label class="red">{{user.errorMessage}}</label>
        </div>
        <div class="field" id="email"  ng-class="{error:user.invalidCredentials}">
          <div class="ui left icon input" style="position:relative">
            <i class="circular inverted  user icon" ng-class="{red:user.invalidCredentials,teal:!user.invalidCredentials}" ></i>
            <input type="text"   name="email" placeholder="E-mail address"  ng-model="user.userName" >
            <div  class="emailToolTip" >Please enter OSI email.</div>
            
          </div>
        </div>
        <div class="field"  id="password" ng-class="{error:user.invalidCredentials}" style="margin-bottom: 0px;">
          <div class="ui left icon input">
            <i class="circular inverted  lock icon" ng-class="{red:user.invalidCredentials,teal:!user.invalidCredentials}"></i>
            <input id="password" type="password" name="password" ng-model="user.password"  placeholder="Password">
             <div class="passwordToolTip">Please enter OSI password.</div>
          </div>
        </div>
         
        
        
      <!--   <button class="ui right labeled icon positive button large fluid" ng-disabled="user.userName.length===0 || user.password.length===0" ng-click="authenticateUser()">
       <i class="large sign in icon"></i>
        Login
      </button> -->
      
        <div class="floatRight" style="padding-top:10px;padding-bottom:10px;"><a href="https://login.osius.com" target="_blank" >Forgot Password ?</a></div>
      
      <button class="large fluid ui positive button" ng-disabled="user.userName.length===0 || user.password.length===0" ng-click="authenticateUser()">
      <i class=" lock icon"></i>Login</button>
      <span style="float: right;font-size: x-small;">By Logging in you agree to our <a href="#" ng-click="showConditions();">T&C</a></span>
	 
      </div>

      

    </form>
</div>
    
  </div>
</div>
<div style="position: absolute;bottom:-5px;background-color: #f7f7f7;min-width: 100%;min-height: 5%; text-align:center;padding-top: 2px;"> 
<img src="images/OSI.png" style="width: 2.3%;margin-left: 10px;margin-bottom: 1px;float:left"> 
<span style="position: relative;margin-top: 10px;bottom: -4px;"><strong >@2016 OSI Technologies. All rights reserved</strong></span>
   <span style="float:right;margin-top: 4px;opacity: 0.6;">Innovate Integrate Operate </span>

</div><!-- EF5C5C -->








