 <style type="text/css">

    .column {
      max-width: 450px;
      margin-top:15%;
    }
</style>

<div class="ui middle aligned center aligned grid">
  <div class="column" >
    <h2 class="ui teal  header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui piled segments segment">
        <div class="field error" >
          <div class="ui left icon input">
            <i class="circular inverted red user icon"></i>
            <input type="text" id="email" name="email" placeholder="E-mail address"  ng-model="user.userName" >
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="circular inverted teal  lock icon"></i>
            <input type="password" name="password" ng-model="user.password"  placeholder="Password">
          </div>
        </div>
        <button class="ui right labeled icon positive button large fluid " ng-click="authenticateUser()">
       <i class="arrow circle right white icon"></i>
        Login
      </button>
      {{user.errorMessage}}
	   <div style="text-align:right;"><a href="#" style="color:#00B5AD;">Forgot Password</a>
	   </div>
      </div>

      

    </form>

    
  </div>
</div>