 <style type="text/css">

    .column {
      max-width: 450px;
      margin-top:15%;
    }
    .floatRight{
    text-align:right;
    }
</style>

<div class="ui middle aligned center aligned grid">

  <div class="column" >
   <div dw-loading="authenticate" >
    <h2 class="ui teal  header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
   
    <form class="ui large form">
      <div class="ui piled segments segment">
        <div class="field"  ng-class="{error:user.invalidCredentials}">
          <div class="ui left icon input">
            <i class="circular inverted  user icon" ng-class="{red:user.invalidCredentials,teal:!user.invalidCredentials}" ></i>
            <input type="text" id="email" name="email" placeholder="E-mail address"  ng-model="user.userName" >
          </div>
        </div>
        <div class="field" ng-class="{error:user.invalidCredentials}">
          <div class="ui left icon input">
            <i class="circular inverted  lock icon" ng-class="{red:user.invalidCredentials,teal:!user.invalidCredentials}"></i>
            <input type="password" name="password" ng-model="user.password"  placeholder="Password">
          </div>
        </div>
         <div class="field" ng-class="{error:user.invalidCredentials}">
           <label class="red">{{user.errorMessage}}</label>
        </div>
        
        
        <button class="ui right labeled icon positive button large fluid" ng-disabled="user.userName.length===0 || user.password.length===0" ng-click="authenticateUser()">
       <i class="large sign in icon"></i>
        Login
      </button>
      
	   <div class="floatRight"><a href="#" >Forgot Password</a>
	   </div>
      </div>

      

    </form>
</div>
    
  </div>
</div>