<header style="margin-bottom: 14px;">
<div class="ui stackable menu">
  <div class="item" style="width: 18%;">
    <img src="images/logo.png" style="width:6em;"> <strong>Challenge Me</strong>
  </div>
  <div class="item" >
  <i class="big align justify icon"></i>
  </div>
  <div class="right menu">
    <a class="item" ui-sref=".logout" >Logout<i class="large red sign out icon"></i></a>
  </div>
</div>
</header>


<div class="ui two column stackable grid" style="height:92vh;">
  <div class="three wide column" style="background-color: #1D2939;border-right: 2px solid black;padding-right: 0px;padding-top: 0px;">
  	<aside>
		
		<div class="ui relaxed divided list">
		  <div class="item" style="text-align: -webkit-center;border-bottom: 2px solid white;" >
			     <img class="ui tiny circular image" src="/profile/imagePath" style="width: 40%;height: 79px;">
			    <!--  <img class="ui tiny image" src="images/default.png"> -->
			      <div style="margin-top: 10px;"><a href="#">{{userDetails.name}}</a></div>
          </div>
		  <div class="item" style="border-bottom: 2px solid white;">
			   
			    <a class="content" ui-sref=".categories" ng-click="setCurrentTab('categories');" style="vertical-align: bottom;display: block;">
					 <i class="big add icon"></i>	    Add Categories
				</a>
		  </div>
		  <div class="item" style="border-bottom: 2px solid white;">
			    
			    <a  class="content" ui-sref=".profile" ng-click="setCurrentTab('profile');" style="vertical-align: bottom;display: block;">
					<i class="big write icon"></i>	    Edit Profile
				</a>
		  </div>
		  <div class="item" style="border-bottom: 2px solid white;">
			    
			    <a  class="content" ui-sref=".createChallenge" ng-click="setCurrentTab('createChallenge');" style="vertical-align: bottom;display: block;">
					<i class="big puzzle icon"></i>	    Create Challenge
				</a>
		  </div>
		  <div class="item" style="border-bottom: 2px solid white;">
			   
			     <a class="content" ui-sref=".myChallenges" ng-click="setCurrentTab('myChallenges');" style="vertical-align: bottom;display: block;">
						 <i class="big lab icon"></i>    My Challenges
				</a>
		  </div>
		  <div class="item" style="border-bottom: 2px solid white;" >
			   
			     <a class="content" ui-sref=".allChallenges" ng-click="setCurrentTab('allChallenges');" style="vertical-align: bottom;display: block;">
					 <i class="big archive icon"></i>	    All Challenges
				</a>
		  </div>
		  <div class="item" style="border-bottom: 2px solid white;">
			    
			     <a class="content" ui-sref=".subcribedChallenges" ng-click="setCurrentTab('subcribedChallenges');" style="vertical-align: bottom;display: block;">
						<i class="big privacy icon"></i>    Subcribed Challenges
				</a>
		  </div>
		  <div class="item" style="border-bottom: 2px solid white;">
			   
			     <a class="content" ui-sref=".contactUs" ng-click="setCurrentTab('contactUs');" style="vertical-align: bottom;display: block;">
						    <i class="big mail icon"></i> Contact Us
				</a>
		  </div>
		</div>
         
	</aside>
  </div>
  <div class="thirteen wide column" style="padding-top: 0px;padding-left: 0px;">
  
		 <section>
			 <div class="ui small breadcrumb" style=" border-bottom: 2px solid lightgray;background-color: #1D2939;">
			
				 <label ng-click="setCurrentTab(n);" ng-repeat="n in history.slice(history.length-5<0?0:history.length-5,history.length); track by $index"> 
				  <a  ui-sref=".{{n}}" class="section"><strong>{{n | camelCase}}</strong>	 <i class="angle big right icon"></i></a>
				 
				  </label>
			</div>
		</section>
		<div class="ui grid" style="margin-top: 0px;">
		
		<div class="sixteen wide column" style="background-color: #F7F7F7;padding-bottom: 0px;padding-top: 3px;padding-left: 0px;margin-left: 15px;"><h1><i class="large level down icon icon"></i>{{currentTab | camelCase}}</h1></div>
		</div>
		
  		<section><div ui-view style="margin-right: 30px;margin-left: 30px;margin-top: 25px;"></div></section>
  </div>
 
</div>




