
<div dw-loading="profile" dw-loading-options="{text: loadingMessage}">
<div  ng-if="errorMessage" class="ui red floating  message">
<div class="header">
{{errorMessage}}
</div>
</div>
<!-- <div  ng-if="successMessage" class="ui green floating  message">
<div class="header">
{{successMessage}}
</div>
</div> -->
<div class="ui stackable grid">

		<div id="aaa" class="four wide center aligned column" >
		<div  class="ui segment" id="profileImage"  >
 			 <img  class="ui centered medium image"  ng-src="{{imagePath}}" style="height: 200px;">
 		</div>
		<span style="color:red;">{{errorMessageForImage}}</span>
	<div  id="upload" ng-show="editProfile">	<form id="uploadForm"
	         enctype="multipart/form-data"
	         action="/profile/upload"
	         method="post"
	         ng-controller="profileController">
	     <input id="profile" type="file" class="jfilestyle" data-placeholder="My place holder" name=userPhoto>
	     <!--  <button type="submit" class="ui tiny green button">
		  	<i class="upload icon"  style="margin-right: 0px;"></i> Upload
		</button> -->
	    </form>
		</div>
 		
		</div>
		
		<div class="twelve wide column">
		
		<div class="ui grid">
		
					<div class="three wide column" style="padding-top: 24px;">
					Name
					</div>
					<div  class="thirteen wide column">
					 <div class="ui input focus">
				     <input type="text" ng-model="userDetails.name" ng-disabled="true"/> 
				     </div>
					</div>
					<div class="three wide column" style="padding-top: 24px;">
					 Phone
					</div>
					<div  class="thirteen wide column">
					<form name="form">
					<div class="ui input focus">
					 <input type="text" id="input" ng-model="userDetails.phone" ng-disabled="true" maxlength="4" name="input" /> 
					 </div> 
					  </form>  
					</div>
					<!-- <div class="three wide column" style="padding-top: 24px;">
					Work phone
					</div>
					<div  class="thirteen wide column">
					<form name="form">
					<div class="ui input focus">
					 <input type="text" id="input" ng-model="userDetails.workPhone" ng-disabled="!editProfile" maxlength="4" name="input" ng-pattern="regex"/> 
					 </div> (Extn)<label ng-show="!form.input.$valid" style="color:red;">Please enter only numbers.</label>
					  </form>  
					</div> -->
					<div class="three wide column" style="padding-top: 24px;">
					Title
					</div>
					<div  class="thirteen wide column">
					 <div class="ui input focus">
				     <input type="text" ng-model="userDetails.title" ng-disabled="true"/> 
				     </div>
					</div>
					<div class="three wide column" style="padding-top: 24px;">
					Business Unit
					</div>
					<div  class="thirteen wide column">
					 <div class="ui input focus">
				     <input type="text" ng-model="userDetails.businessUnit" ng-disabled="true"/> 
				     </div>
					</div>
					<div class="three wide column" style="padding-top: 24px;">
					Location
					</div>
					<div  class="thirteen wide column">
					 <div class="ui input focus">
						<input type="text" ng-model="userDetails.location" ng-disabled="true"/> 
						</div>
					</div>
					<div class="three wide column" style="padding-top: 24px;">
					Employee Id
					</div>
					<div  class="thirteen wide column">
					<div class="ui input focus">
					  <input type="text" ng-model="userDetails.empId"  ng-disabled="true"/> 
					  </div>
					</div>
					<div class="three wide column" >
					Subcribe to
					</div>
					<div  class="thirteen wide column">
					<span ng-if="allCategories.length==0">No Categories are created.</span>
					 <span ng-repeat="category in allCategories" >
					 
					 <div class="ui toggle checkbox" style="margin: 5px 0px;">
					  <input id="{{category.name}}" type="checkbox" value="{{category}}" ng-disabled="!editProfile" ng-checked="checkCategory(category._id);" ng-click="toggleSelection(category)"/>
					  <label for="{{category.name}}" style="padding-left: 54px;padding-right: 20px;">{{category.name | camelCase}} </label>
					</div>
					 
					 </span>
					 <div class="ui toggle checkbox" style="margin: 5px 0px;">
					  <input id="All" type="checkbox"  ng-disabled="!editProfile" ng-checked="selectAllCategories();" ng-click="toggleAllSelection()"/>
					  <label for="All" style="padding-left: 54px;padding-right: 20px;">All</label>
					</div>
					 
					</div>
					<div class="sixteen wide center aligned column">
						<button class="ui primary button" ng-click="edit();" ng-show="!editProfile">
					  	<i class="write icon"  style="margin-right: 0px;"></i>Edit
						</button>
						<button class="ui positive button" ng-click="updateProfile();" ng-show="editProfile" ng-disabled="userCategories.length===0">
					  	<i class="checkmark icon"  style="margin-right: 0px;"></i> Update
						</button>
					</div>
		
		</div>
		
		</div>
		

</div>

</div>
