 <div dw-loading="solution" dw-loading-options="{text: loadingMessage}" ng-controller="solutionController">
<div  ng-if="errorMessage" class="ui red floating  message">
<div class="header">
{{errorMessage}}
</div>
</div>
<div  ng-if="successMessageForSolution" class="ui green floating  message">
<div class="header">
{{successMessageForSolution}}
</div>
</div>
 <div class="ui stackable grid" >

		 <div class="sixteen wide column" ng-disabled="challengeObj.closed">
				 <div class="ui form ">
				  <div class="field">
				    <label style="display: -webkit-inline-box;"> Solution</label >
				   
				    <div style="float:right" ng-show="solutionObj.status==='draft'" class="ui small blue label">
					<i class="save icon" style="margin-right: 0px;"></i>Draft
					 </div>
		 
				    <textarea ng-model="solutionObj.solution" ng-disabled="challengeObj.challengeStatus==='Closed'"></textarea>
				  </div>
				</div>
		</div>
		
		<div class="two wide left aligned column" style="padding-bottom: 0px;">
					 <div class="ui toggle checkbox">
					  <input  id="Anonymous" type="checkbox" ng-model="solutionObj.anonymous" ng-disabled="challengeObj.challengeStatus==='Closed'" />
					  <label for="Anonymous" style="padding-left: 54px;padding-right: 20px;padding-bottom: 15px;">Anonymous</label>
					</div>
		</div>
		<div class="fourteen wide center aligned column" style="padding-bottom: 0px;">
		<button type="submit" class="ui small primary button" ng-hide="hideEdit || challengeObj.closed || solutionObj.status==='create'" ng-disabled="(solutionObj.solution.length===0)" ng-click="solutionObj.status='draft';saveSolution(challengeObj);" >
			  	<i class="save icon"></i> Draft
			</button>
			<button type="submit" class="ui small positive button"  ng-hide=" challengeObj.challengeStatus==='Closed'" value="create" ng-disabled="(solutionObj.solution.length===0)" ng-click="solutionObj.status='create';saveSolution(challengeObj);">
			  	<i class="checkmark icon"></i> Submit
			</button>
		
		</div>
		<div   class="sixteen wide column"  ng-include="solutionCommentTemplate" ></div>
</div>
 </div>