 <div dw-loading="solution" dw-loading-options="{text: loadingMessage}" ng-controller="solutionController">
<div  ng-if="errorMessage" class="ui red floating  message">
<div class="header">
{{errorMessage}}
</div>
</div>
<div  ng-if="successMessageForSolution" class="ui green floating  message">
<div class="header">
{{successMessageForSolution}}
</div>
</div>
 <div class="ui stackable grid" >

		 <div class="sixteen wide column">
				 <div class="ui form ">
				  <div class="field">
				    <label>Solution</label>
				    <textarea ng-model="solutionObj.solution" ng-disabled="challengeObj.closed"></textarea>
				  </div>
				</div>
		</div>
		
		<div class="three wide center aligned column">
					 <div class="ui toggle checkbox">
					  <input  id="Anonymous" type="checkbox" ng-model="solutionObj.anonymous" ng-disabled="challengeObj.closed" />
					  <label for="Anonymous" style="padding-left: 54px;padding-right: 20px;padding-bottom: 15px;">Anonymous</label>
					</div>
		</div>
		<div class="thirteen wide center aligned column">
		<button type="submit" class="ui small primary button" ng-hide="hideEdit || challengeObj.closed || solutionObj.status==='create'" ng-disabled="(solutionObj.solution.length===0)" ng-click="solutionObj.status='draft';saveSolution();" >
			  	<i class="ban icon"></i> Save
			</button>
			<button type="submit" class="ui small positive button"  ng-hide=" challengeObj.closed" value="create" ng-disabled="(solutionObj.solution.length===0)" ng-click="solutionObj.status='create';saveSolution();">
			  	<i class="checkmark icon"></i> Submit
			</button>
		
		</div>
		<div  class="sixteen wide column"  ng-include="solutionCommentTemplate" ></div>
</div>
 </div>