<div class="ui stackable grid">
		<div class="sixteen wide column" style="padding-bottom: 10px;" > 
		 
				<button class="ui tiny primary button" ng-click="viewSolutionComments=!viewSolutionComments"  style="padding-right: 0px;padding-left: 11px;" ng-disabled="solutionObj.comments===undefined">
					   <i class="comments outline icon"></i>Comments ({{solutionObj.comments.length}}) <i ng-show="!viewSolutionComments" class=" large angle down icon"></i><i ng-show="viewSolutionComments"class=" large angle up icon"></i>
				</button>
				<a href="#" ng-hide="solutionObj.userLiked || currentTab==='subcribedChallenges'" ng-click="like(solutionObj);"><i class="thumbs up blue icon"></i> Like</a>
			<a href="#" ng-hide="!solutionObj.userLiked || currentTab==='subcribedChallenges'" ng-click="unLike(challenge,solutionObj);"><i class="thumbs down blue icon"></i> Unlike</a>
		 </div> 
		 <div class="sixteen wide column" ng-show="viewSolutionComments" style="padding-top: 0px;"> 
		    
			<div class="ui threaded comments" style="max-width:100%">
 				<!--  <h3 ng-show="solutionObj.comments.length>0" class="ui dividing header">Comments on solution</h3> -->
				  <div class="comment" ng-repeat="comment in solutionObj.comments">
				    <div class="content">
				      <a class="author">{{comment.userName}}</a>
				      <div class="metadata">
				        <span class="date">{{comment.commentedDate | dateFormat}}</span>
				      </div>
				      <div class="text">
				        {{comment.comment}}
				      </div>
				    </div>
				  </div>
                 <div class="ui form ">
				  <div class="field">
				    <textarea id="commentTextAreaForSolution" rows="2" placeholder="comment on solution.." ng-model="solutionComment"></textarea>
				  </div>
			<!-- 	 <div class="ui blue labeled submit icon button" ng-show="solutionComment" ng-click="addSolutionComment(challengeObj,solutionObj);">
                 <i class="icon edit" ></i> Add Comment
                </div> -->
                
                <button class="ui tiny primary button"  ng-show="solutionComment" ng-click="addSolutionComment(challengeObj,solutionObj);">
					  <i class="icon edit" style="margin-right: 0px;" ></i> Add Comment
				</button>
                
				</div>

            </div>
		 </div>
		 
		 
</div>