
<div dw-loading="challenges" dw-loading-options="{text: loadingMessage}" ng-hide="challenge.solutions.length===0">
<div  ng-if="errorMessage" class="ui red floating  message">
<div class="header">
{{errorMessage}}
</div>
</div>
<div class="ui stackable grid">
<div class="sixteen wide column">
<strong>Solutions:</strong>
</div>

<div class="sixteen wide column" style="border-top: 2px solid teal;padding-top: 0px;" >
<div id="solutions" style="padding-left: 11%;margin-top: 12px;" ng-repeat="solutionObj in challenge.solutions">
		<div  id="solution" class="ui raised segments" >  
		
		  <div class="ui secondary teal segment arrow">
		   <div style="margin-bottom:0px;"><strong ng-bind="!solutionObj.anonymous?solutionObj.solutionBy:'Anonymous'"></strong> gave solution on <strong>{{solutionObj.updated_at | dateFormat}}</strong>
		    <div class="ui toggle checkbox" style="float: right;" ng-show="currentTab==='myChallenges'">
					  <input id="correct" type="checkbox" ng-model="solutionObj.isCorrect" ng-click="updateCorrectAnswerOrNot(solutionObj)" />
					  <label for="correct" >Correct</label>
			</div>
			<div style="float: right;" ng-show="solutionObj.likes.length>0" ng-init="showLikesCount(solutionObj.likes);"><strong>{{likesCount}}</strong></div>
			 </div> 
		  <img style="border-radius: 10px;height: 60px;position: absolute;left: -100px;top: 0px;" class="ui tiny image" ng-init="getProfilePathForSolutions(solutionObj)" ng-src="{{solutionUserImagePath}}">
		  </div>
		  <div class="ui segment">
		    <p>{{solutionObj.solution}}</p>
		    <i ng-show="solutionObj.isCorrect && currentTab==='allChallenges'" class="huge check green circle icon" style="position: absolute;left: -92px;top: 26px;"></i>
		    <div  ng-include="solutionCommentTemplate" ></div>
		  </div>
		  
		</div>
</div>
</div>
</div>
</div>