<div dw-loading="challenges" dw-loading-options="{text: loadingMessage}">
{{errorMessage}}

<div class="ui stackable compact grid">
		<div class="sixteen wide column"> 
				<div class="ui fluid labeled input focus">
				  <div class="ui teal label">
				   Title
				  </div>
				  <input type="text" ng-disabled="true" ng-model="challenge.title" />
				</div>
		 </div> 
		 <div class="sixteen wide column">
				 <div class="ui form">
				  <div class="field">
				    <label>Description</label>
				    <textarea ng-model="challenge.description" ng-disabled="!editChallenge" rows="2"></textarea>
				  </div>
				</div>
		</div>
		<div class="four wide column">
			   <div class="ui labeled input focus">
				  <div class="ui teal label">
				   Cut-off Date
				  </div>
				 <input type="date" ng-model="challenge.date" ng-disabled="!editChallenge"/> 
				</div> 	
		</div>
		<div class="one wide column"></div>
		<div class="eleven wide column">
			   <div class="ui fluid labeled input focus">
				  <div class="ui teal label">
				   Prize
				  </div>
				 <input type="text" ng-model="challenge.prize"  ng-disabled="!editChallenge" /> 
				</div> 	
		</div>
		
		<div class="sixteen wide column" >
				<div class="ui teal large label">
						  Category
						</div>
				 <span ng-if="view==='main.myChallenges'" ng-repeat="category in categories" >
					 <div class="ui radio checkbox" >
					  <input  ng-disabled="challenge.status==='create' || !editChallenge"  id="{{category.name}}" type="radio" value="{{category}}"  ng-model="challenge.categories" ng-checked="checkCategory(category._id);"  />
					  <label for="{{category.name}}" style="padding-right: 10px;padding-bottom: 15px;padding-left: 18px;">{{category.name | camelCase}} </label>
					</div>
				</span>
		</div>
		<div class="sixteen wide center aligned column">
			<button type="submit" class="ui yellow button" ng-if="view==='main.myChallenges'" ng-show="!editChallenge && !challengeObj.closed" ng-click="showEditFields();">
			  	<i class="write icon"></i> Edit
			</button>
			<button type="submit" class="ui small primary button"  ng-if="view==='main.myChallenges'" ng-disabled="((challenge.title.length===0) || (challenge.description.length===0) || (challenge.date.length===0))" ng-click="challenge.status='draft';saveChallenge();" ng-show="editChallenge && challenge.status==='draft'">
			  	<i class="ban icon"></i> Save
			</button>
			<button type="submit" class="ui small positive button" ng-disabled="((challenge.title.length===0) || (challenge.description.length===0) || (challenge.date.length===0) || (challenge.categories.length===0))" ng-click="challenge.status='create';saveChallenge();" ng-show="editChallenge">
			  	<i class="checkmark icon"></i> Submit
			</button>
		</div>
</div>
</div>